APP_PORT=3000
APP_DOMAIN=ha.dev
APP_NAME="Hack Academy - ecommerce"
DB_CONNECTION_STRING="mongodb+srv://CasaDeAbajo:kcc3EiWFzx3YP4Uy@ha0923.b4ozp55.mongodb.net/casadeabajo"
#DB_CONNECTION_STRING="mongodb://127.0.0.1/ha-bootcamp-ecommerce"
JWT_ADMIN_SECRET="unString"
JWT_SECRET="otroString"